@model BudgetMaster.Models.CodeFirst.Household

<div id="popover-content" class="hide">
    <form class="form-inline" action=@Url.Action("Leave", "Households") method="post">
        <div>
            <p>Are you sure you would like to leave your current household? Upon leaving you will no longer have access to your information saved to this household.</p>
            <input type="submit" value="Yes, Leave" id="popover-button" class="btn btn-default" />
        </div>
    </form>
</div>
<span class="household-name dropdown-toggle" data-toggle="dropdown">
    <span><i class="fa fa-bars"></i></span>
</span>
<ul class="dropdown-menu" role="menu">
    <li>
        <a tabindex="0" role="button" data-toggle="popover" data-trigger="focus" title="Leave Household">Leave Your Current Household</a>
    </li>
</ul>