@model BudgetMaster.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<div class="panel panel-default">
    <div class="panel-heading">
        <div class="col-xs-12 x-pad-left"><h3>Manage Your User Profile</h3></div>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-5">
                <div class="custom-btn-group">
                    <div class="col-xs-12">
                        <button type="button" id="ManageDNamePV" class="btn btn-lg btn-success">Change Your Display Name</button>
                    </div>
                    <div class="col-xs-12">
                        @if (Model.HasPassword)
                        {
                            <button type="button" id="ChangePWPV" class="btn btn-lg btn-success">Change Your Password</button>
                        }
                        else
                        {
                            <button type="button" id="SetPWPV" class="btn btn-lg btn-success">Set Your Password</button>
                        }
                    </div>
                    <div class="col-xs-12">
                        <button type="button" id="ManageLoginsPV" class="btn btn-lg btn-success">Manage External Logins</button>
                    </div>
                </div>
            </div>
            <div class="col-sm-5 col-sm-offset-1" id="managePV">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>Manage Your User Profile</h4>
                    </div>
                    <div class="panel-body">
                        <div class="col-xs-12">
                            <h5>Hi there! Here you can easily change your user profile information with BudgetMaestro.</h5>
                            <hr />
                            <p>If you created your account using a Facebook Login or Twitter Login, you can still create a password at any time, enabling you to login directly through BudgetMaestro. Click any one of the links to the left to get started. </p>
                        </div>
                        <div class="col-xs-12">
                            <hr />
                            <div class="pull-right">
                                @Html.ActionLink("Return to Your Dashboard", "Index", "Households", null, new { @class = "btn btn-success" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
<script>
    $("#ManageDNamePV").click(function () {
    $("#managePV").load('/Manage/_ManageDisplayNamePV/');
    })
    $("#ChangePWPV").click(function () {
        $("#managePV").load('/Manage/_ChangePasswordPV/');
    })
    $("#SetPWPV").click(function () {
        $("#managePV").load('/Manage/_SetPasswordPV/');
    })
    $("#ManageLoginsPV").click(function () {
        $("#managePV").load('/Manage/_ManageLoginsPV/');
    })
</script>
}
