@model IEnumerable<BudgetMaster.Models.CodeFirst.Account>

@{
    ViewBag.Title = "Index";
}

<div class="col-sm-8">
    <div class="panel panel-default">
        <div class="panel-heading">
            <strong>Manage Your Accounts</strong>
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
            <div class="list-group">
                @if (Model.Count() == 0)
                {
                    <p>Currently no accounts exist for your household. You can add a new account by submitting the form below.</p>
                    <hr />
                }
                else
                {
                    <table>
                        <tr>
                            <th>Account Name</th>
                            <th>Current Balance</th>
                            <th>Details/Edit/Delete</th>
                        </tr>


                        @foreach (var item in Model) {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.Name)</td>
                            <td>$@Html.DisplayFor(modelItem => item.Balance)</td>
                            <td>
                                <a class="detailsView" href=@Url.Action("Details", "Accounts", new { id = item.Id })><i class="fa fa-list-ul"></i></a>
                                <button class="btn editPV" data-id=@item.Id><i class="fa fa-pencil"></i></button>
                                <button class="btn deletePV" data-id=@item.Id><i class="fa fa-trash"></i></button>

                            </td>
                        </tr>
                         }

                    </table>
                }

            </div>
        </div>
    </div>
</div>
<div id="hh-partial" class="col-sm-4">
    @Html.Action("_CreatePV")
</div>

@section Scripts {
    <script>
        $(".editPV").click(function () {
            $("#hh-partial").load('/Accounts/_EditPV/' + $(this).data('id'));
        })
        $(".deletePV").click(function () {
            $("#hh-partial").load('/Accounts/_DeletePV/' + $(this).data('id'));
        })
    </script> 
}

