@{
    ViewBag.Title = "Home";
}

@{
    Layout = "~/Views/Shared/_StartLayout.cshtml";
}

<div class="row">
    <div class="col-sm-6 col-sm-offset-1">
        <div class="intro-message">
            <ul class="list-inline">
                <li>
                    @Html.ActionLink("Log In", "Login", "Account", null, new { @class= "btn btn-success btn-lg start-btn" })
                </li>
                <li>
                    @Html.ActionLink("Sign Up", "Register", "Account", null, new { @class = "btn btn-success btn-lg start-btn" })
                </li>
            </ul>
        </div>
    </div>
</div>
