@{
    ViewBag.Title = "Home";
}

@{
    Layout = "~/Views/Shared/_StartLayout.cshtml";
}

<div class="row">
    <div class="col-xs-12">
        <div class="col-sm-11 col-sm-offset-1">
            <div class="intro-message">
                <ul class="list-inline">
                    <li>
                        @Html.ActionLink("Login", "Login", "Account", null, new { @class = "btn btn-success btn-lg start-btn" })
                    </li>
                    <li>
                        @Html.ActionLink("Register", "Register", "Account", null, new { @class = "btn btn-success btn-lg start-btn" })
                    </li>
                </ul>
                <div class="bounce"><i id="bouncing-arrow" class="fa fa-angle-double-down"></i></div>
            </div>
        </div>
    </div>
</div>



