html {
    width:100%;
}

body {
    font-family: 'Questrial', sans-serif;
    font-size:1.4em;
    background-color:#9CB98E !important;
    line-height:1.8em !important;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight:700;
    line-height: 2em !important;
}

a:focus,
a:active {
    color:inherit;
}

input,
select,
.input-group-addon {
    border-radius: 0 !important;
}

.small {
    font-family: Questrial, sans-serif;
    font-size:80%;
    font-weight: 400;
}

#concerned-kitty {
    height:150px;
    border-radius: 50%;
    border: 5px solid #c7dbbd;
}

td {
    padding: 16px 8px !important;
}

td button {
    padding:0 10px !important;
}

.login-partial * {
    padding: 5px 8px !important;
    font-family: 'Montserrat', sans-serif !important;
    font-size:1em;
    color:#fff !important;
    background-color:transparent !important;
}

.login-partial *:hover {
    color:#fff;
    background-color:transparent;
}

.login-partial {
    position:relative;
    top:115px;
    right:120px;
}

strong, th, .strong {
    font-family: 'Montserrat', sans-serif !important;
    font-weight:700 !important;
}

#start {
    height:800px;
    background-image: url('cute-kitten.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    border-bottom:15px solid #4c693d;
}

#start .intro-message {
    margin-top: 150px;
}

#register-panel {
    margin-top: 0;
}

#morris-bar-chart {
    height:400px;
}

#morris-donut-chart {
    height:300px;
}

.panel-body {
    background-color: #f8f8f8 !important;
}

.panel-heading {
    padding: 15px;
        font-family: 'Montserrat', sans-serif !important;
    font-weight:700 !important;
    background-color: #ececec !important;
}

.start-btn {
    font-size:1.5em;
    font-weight:800;
    padding: 25px;
}

#start .panel-default,
#start .panel-heading {
    border:none;
    border-radius:0;
}

.start-container {
    display:flex;
    justify-content:flex-end;
    height:150px;
    width:100%;
}

#start-logo {
    width:700px;
    padding:2%;
}

.brand-logo,
.start-brand {
    width:400px;
    z-index:1000;
    padding: 5% 3%;
}

.x-pad {
    padding-right:25px;
}

.x-pad-all {
    padding:15px;
}

.x-pad-left {
    padding-left:40px;
}

.x-pad-top {
    padding-top: 20px;
}

.start-panel .panel-heading {
    background:#9CB98E !important;
}

.validation-padding {
    padding: 0 0 10px 5px;
    margin-top: -10px;
}

header {
    height: 240px;
    margin: 0;
    z-index: 1;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('wood-grid.jpg');
    background-repeat:repeat;
    border-bottom: 20px solid #597b48;
}

footer {
margin:0;
padding:0;
width:100%;
}

.navbar {
    width:100%;
    height:91px;
}

.nav > li > a {
    display:inline;
}

nav > * {
    color:#fff;
}

nav {
    background-color: #597b48 !important;
}

.household-name {
    padding: 0 !important;
}

.editAccPV, 
.deleteAccPV, 
.editPV, 
.deletePV,
.AccDetailsPV,
.editTranPV, 
.deleteTranPV,
.deleteBiPV,
.deleteCatPV {
    padding: 8px;
    background-color:transparent;
    color:#9CB98E;
    font-size: 1.5em;
}

.editPV:hover,
.deletePV:hover,
.editAccPV:hover,
.deleteAccPV:hover,
.AccDetailsPV:hover,
.editTranPV:hover,
.deleteTranPV:hover,
.deleteBiPV:hover,
.deleteCatPV:hover {
    color: #597b48;
}

.AccDetailsPV {
    position:relative;
    font-size: 1.5em;
}

.panel, .btn, .input-group input {
    border-radius: 0 !important;
}

.flex-container {
    display:flex;
}

.flex-item {
    flex:1;
    padding-top:20px;
    text-align:center;
    vertical-align:middle;
    height:90px;
    color: #fff;
}

.flex-item:hover {
    color:#fff;
    background:#4c693d;
    text-decoration:none;
}

.flex-item i {
    font-size: 2em;
}

.flex-item p {
    font-size:.7em;
    padding-top:5px;
}

.btn{
    border:0 !important;
}

.btn-success {
    background-color: #597b48 !important;
}

.btn-success:hover {
    background-color: #4c693d !important;
}

.intro-section, 
.developer-section, 
.how-to-section {
   padding: 80px 0 !important;
   width:100%;
}

.how-to-section {
    background:#fff;
    width:100%;
    margin:0;
}

.developer-section img {
    border: 20px solid #4c693d;
    padding:0;
}

.disabled-color {
    font-style:italic;
    color:#888;
}

.normal-text {
    font-family: 'Questrial', sans-serif;
    font-weight:400;
}

.btn-footer {
    padding:0 15px;
}

.modal .modal-dialog {
    z-index:3 !important;
}
.modal .panel {
    z-index:100 !important;
}

@media (min-width: 768px) {
    .sidebar {
        margin-top:64px !important;
        width: 150px !important;
    }
    #page-wrapper .body-content {
        padding:0 30px;
    }
    #page-wrapper {
        margin: -90px 10% 40px 10% !important;
        border-left:0px !important;
        z-index:1000 !important;
        overflow:visible !important;
        /*position:relative;
        bottom:90px;*/
        padding:0 !important;
-webkit-box-shadow: 0px 2px 10px 0px rgba(0,0,0,1);
-moz-box-shadow: 0px 2px 10px 0px rgba(0,0,0,1);
box-shadow: 0px 2px 10px 0px rgba(0,0,0,1);
    }
}

.custom-btn-group button {
    width:100%; 
    padding: 25px;
    margin:25px;
    font-family: 'Montserrat', sans-serif;
    font-size: 130%;
    font-weight:700;
}

.panel,
.panel-heading,
.panel-body {
    border: 0 !important;
    border-radius: 0;
}


#smallPV .panel-body,
#managePV .panel-body {
    border: 1px solid #ddd !important;
    border-radius: 0;
}

.panel-heading {
    margin-top:20px;
    background: #c7dbbd !important;
}

.panel {
    background-color:transparent !important;
}

.body-content,
#page-wrapper {
    background:  #e0e0e0 !important;
}

#start .body-content {
    background:none !important;
}

.navbar {
    margin-bottom: 0;
}

.panel-body {
    background: #fff !important;
}
